<!DOCTYPE html>
<html lang="en">
<head>
  <title>Input Page Name</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main-template/vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="main-template/vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="main-template/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="main-template/vendors/aos/css/aos.css">
  <link rel="stylesheet" href="main-template/css/style.min.css">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="main-template/images/Group2.svg" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="main-template/images/Group2.svg" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#digital-marketing-section">EXAMPLES</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <% if(!session.is_logined) {%>
            <a class="nav-link" href="/login">Log in</a>
            <% } else {%>
              <a class="nav-link" href="/logout">Log out</a>
              <%} %>
          </li>
        </ul>
      </div>
    </div>
    </nav>
  </header>
  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">AI Presentation Material Generator</h1>
      <h6 class="font-weight-normal text-muted pb-3">Test</h6>
      <div>
        <button class="btn btn-opacity-light mr-1">Get started</button>
        <button class="btn btn-opacity-success ml-1">Learn more</button>
      </div>
      <img src="main-template/images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>How does it works</h2>
          <h6 class="section-subtitle text-muted">Using ChatGPT API and Marpit API to generate PowerPoint.</h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <img src="main-template/images/ChatGPT.png" alt="" class="img-icons" style="height: 56px;">
              <h5 class="py-3">ChatGPT API</h5>
              <p class="text-muted">The OpenAI API can be applied to virtually any task that involves understanding or generating natural language, code, or images. We offer a spectrum of models with different levels of power suitable for different tasks, as well as the ability to fine-tune your own custom models. These models can be used for everything from content generation to semantic search and classification.</p>
              <a href="https://platform.openai.com/docs/introduction"><p class="readmore-link">Readmore</p></a>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="main-template/images/Marpit.png" alt="" class="img-icons" style="height: 56px;">
              <h5 class="py-3">Marpit API</h5>
              <p class="text-muted">Marpit has only one feature: Convert Markdown and theme set into HTML/CSS. Thus the basic usage is completely simple.</p>
              <a href="https://marpit.marp.app/"><p class="readmore-link">Readmore</p></a>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="digital-marketing-service" id="digital-marketing-section">
      </section>
      <section class="case-studies" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>EXAMPLES</h2>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-primary text-center card-contents">
                  <div class="card-image">
                    <img src="main-template/images/Group95.svg" class="case-studies-card-img" alt="">
                  </div>
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">What is ChatGPT</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">What is ChatGPT</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-warning text-center card-contents">
                  <div class="card-image">
                      <img src="main-template/images/Group108.svg" class="case-studies-card-img" alt="">
                  </div>
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">Test Case2</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">TestCase2</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                      <img src="main-template/images/Group126.svg" class="case-studies-card-img" alt="">
                  </div>
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">TestCase3</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">TestCase3</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-success text-center card-contents">
                  <div class="card-image">
                      <img src="main-template/images/Group115.svg" class="case-studies-card-img" alt="">
                  </div>
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">TestCase4</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">TestCase4</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Do you have any projects?</h4>
            <div>주제 : <input id="subjectInput" name="subject" type="text"></div>
          </div>
          <div data-aos="fade-up">
            <button id="subjectInputBtn" class="btn btn-rounded btn-outline-danger">시작!</button>
          </div>
          <textarea id="resultArea"></textarea>
          <form id="themeForm">
            <label for="themeSelect">테마 선택:</label>
            <select id="themeSelect" name="theme">
              <option value="default">-</option>
              <option value="customTheme1">커스텀 테마 1</option>
              <option value="customTheme2">커스텀 테마 2</option>
              <option value="customTheme2">커스텀 테마 3</option>
              <option value="customTheme2">커스텀 테마 4</option>
              <option value="customTheme2">커스텀 테마 5</option>
              <option value="customTheme2">커스텀 테마 6</option>
              <option value="customTheme2">커스텀 테마 7</option>
            </select>
            <button type="submit">PPT 생성</button>
          </form>
          </div>

          <script>
            const subjectInputEl = document.querySelector('#subjectInput');
            const subjectInputBtnEl = document.querySelector('#subjectInputBtn');
            const resultAreaEl = document.querySelector('#resultArea')

            subjectInputBtnEl.addEventListener('click', function() {
              fetch('/subject', {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  subject : subjectInputEl.value
                }),
              }).then((res) => res.json()).then((data) => {
                resultAreaEl.value = data.chatGPT;
              });
            });

             const themeForm = document.getElementById("themeForm");

              themeForm.addEventListener("submit", async (event) => {
                event.preventDefault();

                const formData = new FormData(themeForm);
                const selectedTheme = formData.get("theme");

                const response = await fetch("/createPPT", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    chatGPT: resultAreaEl.value,
                    theme: selectedTheme,
                  }),
                });
              });
          </script>
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="main-template/images/Group2.svg" alt="" class="pb-2">
            <div class="pt-2">
              <p class="text-muted m-0">mikayla_beer@feil.name</p>
              <p class="text-muted m-0">906-179-8309</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="#"><p class="m-0 pb-2">Terms</p></a>
            <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a>
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a>
            <a href="#"><p class="m-0 pt-1">Discover</p></a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2019<a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash.</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="email" class="form-control" id="Email-1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="Message">Message</label>
                  <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="main-template/vendors/jquery/jquery.min.js"></script>
  <script src="main-template/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="main-template/vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="main-template/vendors/aos/js/aos.js"></script>
  <script src="main-template/js/landingpage.js"></script>
</body>
</html>