/* @theme example */
section {
  background-color: #388e3c;
  color: #fff;
  font-size: 30px;
  padding: 40px;

  page-break-before: always;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  color: #fff;
}
